* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  /* background: #ccc; */
}

article {
  background: white;
  width: 210mm;
  height: 297mm;
  margin: 20px auto;
  position: relative;
  background: url('/Lab5/img/top-image.png') no-repeat top center,
              url('/Lab5/img/bottom-image.png') no-repeat bottom center,
              linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.15));
  background-size: contain;
  border-top: 1mm solid yellow;
  border-bottom: 1mm solid yellow;
}

address {
  position: absolute;
  bottom: 8mm;
  right: 20mm;
}

h1 {
  position: absolute;
  top: 12mm;
  left: 20mm;
  width: 128px;
  height: 128px;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  padding: 44px 0;
  text-shadow: 1px 1px 1px black;
  color: white;
}

/* Your CSS below here */

#logoText {
  background: url('/Lab5/img/logo.png') no-repeat center;
  background-size: contain;
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}

/* Two-Column Layout */
.container {
  display: flex;
  gap: 20px;
  padding-right: 30px;
  padding-left: 30px;
  max-width: 100%;

}

h2 {
  margin-top: -0px;
  text-align: center;
  font-size: 34px;
  margin-bottom: 0px;
}

nav {
  color: white;
  text-align: center;
  font-size: 12px;
}

a {
  color: black;
}

.left-column, .right-column {
  flex: 1;
  min-width: 0; 
  max-width: 50%; 
  word-wrap: break-word;
  padding: 20px;
  overflow-wrap: break-word; 
}

.mainText {
  border: 1px solid #0a0606; 
  padding: 15px;
}

/* Form Styling */
form {
  margin-top: 20px;
}

button {
  background: #a02c2c;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

label {
  display: block;
  margin-top: 10px;
}

button:hover {
  background: #8b2424;
}